NEXT_PUBLIC_API_URL= "http://localhost:3000"
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgresdb:pass@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgresdb:pass@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

JWT_ACCESS_SECRET= "test"
ACCESS_TOKEN_EXPIRES_IN = "900000" 
JWT_REFRESH_SECRET= "test"
REFRESH_TOKEN_EXPIRES_IN = "2592000000"

SMTP_PORT="465"
SMTP_HOST=smtp.gmail.com
SMTP_AUTH_USER="user@gmail.com"
SMTP_AUTH_PASS="pass"